<div class="transfert-app">
    <div class="ctn-trans">
        <div class="description">
            <div class="title">
                Un transfert <span>plus rapide</span>, plus <span>simple</span> et plus sûr
            </div>
            <div class="item">
                <div class="icon"><ion-icon name="information-circle-outline"></ion-icon></div>
                <div class="tl">Frais de transaction</div>
                <div class="des">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui in, commodi eveniet nihil
                    necessitatibus cum quae temporibus repellendus.
                </div>
            </div>
            <div class="item">
                <div class="icon"><ion-icon name="card-outline"></ion-icon></div>
                <div class="tl">Frais de transaction</div>
                <div class="des">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui in, commodi eveniet nihil
                    necessitatibus cum quae temporibus repellendus.
                </div>
            </div>
            <div class="item">
                <div class="icon"><ion-icon name="bar-chart-outline"></ion-icon></div>
                <div class="tl">Frais de transaction</div>
                <div class="des">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui in, commodi eveniet nihil
                    necessitatibus cum quae temporibus repellendus.
                </div>
            </div>
        </div>
        <div class="form">
            <div class="input">
                <div class="lbl">
                    <span>Montant</span>
                </div>
                <input type="number" placeholder="0.00">
            </div>
            <div class="input">
                <div class="lbl">
                    <span>Identifiant / Adresse email</span>
                </div>
                <input type="text" placeholder="Ex . 12345678">
            </div>
            <div class="input">
                <div class="lbl">
                    <span>Message ( Facultatif )</span>
                </div>
                <textarea rows="5" placeholder="Message ...."></textarea>
            </div>
            <button>
                <span>envoyer</span>
            </button>
        </div>
    </div>
</div>