<div class="transfert-app" >
    <div class="description">
        <img src="/assets/img/transfert.png" alt="">
        <div class="title">
            Un transfert <span>plus rapide</span>, plus <span>simple</span> et plus sûr
        </div>
        <div class="desc">
            Transférez votre argent en toute simplicité grâce à notre service moderne. Avec quelques clics
            seulement, envoyez de l'argent rapidement, en toute sécurité et sans complications. Profitez
            d'une solution fiable et intuitive qui vous permet de soutenir vos proches, où qu'ils soient, de
            manière simple et rapide.
        </div>
    </div>
    <div class="form">
        <div class="input">
            <div class="lbl">
                <div class="icon"><ion-icon name="wallet-outline"></ion-icon></div>
                <span>Montant en DT</span>
            </div>
            <input type="number" placeholder="0">
        </div>
        <div class="input">
            <div class="lbl">
                <div class="icon"><ion-icon name="person-outline"></ion-icon></div>
                <span>Adresse email ou Identifiant de destinataire</span>
            </div>
            <input type="text" placeholder="Ex . 12345678">
        </div>
        <div class="input">
            <div class="lbl">
                <div class="icon"><ion-icon name="chatbox-outline"></ion-icon></div>
                <span>Message ( Facultatif )</span>
            </div>
            <textarea rows="6" placeholder="Message ...."></textarea>
        </div>
        <button>
            <div class="icon"><ion-icon name="paper-plane-outline"></ion-icon></div>
            <span>envoyer</span>
        </button>
    </div>
</div>