<div class="login-app">
    <div class="form"  data-aos="fade-up" data-aos-duration="900">
        <img src="/assets/img/logo.png" alt="logo">
        <div class="title">Se connecter</div>
        <div class="sbtitle">
            Connectez-vous pour gérer facilement vos projets et suivre vos opérations.
        </div>

        <input type="text" placeholder="Adresse Email" />
        <input type="password" placeholder="Mot de passe" />

        <button (click)="loadHomeClient()" >se connecter</button>

        <div class="psf">
            <span routerLink="/auth/forget-password">Mot de passe oublié ?</span>
        </div>

        <div class="ft">
            Vous n'avez pas de compte ?
            <span routerLink="/auth/register">Ouvrire un compte</span>
        </div>


    </div>
    <div class="cover">
        <div class="cvr"></div>
        <img data-aos="fade-down" data-aos-duration="900" src="/assets/images/banner/banner-1.jpg" alt="cover">
    </div>
</div>