<div class="impact-social-app">
    <div class="title">Notre impact social</div>
    <div class="sb">Suivez en temps réel comment vos investissements changent des vies</div>
    <div class="blocks">
        <div class="block">
            <div class="nbr">150</div>
            <div class="tl">Projets financés</div>
            <div class="icon"><ion-icon name="folder"></ion-icon></div>
        </div>
        <div class="block">
            <div class="nbr">340</div>
            <div class="tl">Bénéficiaires</div>
            <div class="icon"><ion-icon name="people"></ion-icon></div>
        </div>
        <div class="block">
            <div class="nbr">5</div>
            <div class="tl">Domaines d'impact</div>
            <div class="icon"><ion-icon name="grid"></ion-icon></div>
        </div>
    </div>
    <div class="sec-title">
        <div class="tl">Récits & Témoignages</div>
        <button>Investir avec impact</button>
    </div>
    <div class="projects">
        <div class="project" *ngFor="let project of projects">
            <div class="img"
                style="background-image: url('{{project.img}}');">
            </div>
            <div class="tl" [routerLink]="'/app/projet/'+project.id">{{project.title}}</div>
            <div class="desc"> {{project.description}} </div>
            <button [routerLink]="'/app/projet/'+project.id">voire plus</button>
        </div>
    </div>
</div>