<div class="impact-social-app">
    <div class="title">Notre impact social</div>
    <div class="sb">
        ImpactBank combine innovation financière et engagement social. Grâce à notre plateforme, chaque investissement
        ne génère pas seulement un rendement, mais contribue également à transformer des vies dans les régions qui en
        ont le plus besoin.
    </div>
    <div class="blocks">
        <div class="block">
            <div class="nbr">150</div>
            <div class="tl">Projets financés</div>
            <div class="icon"><ion-icon name="folder"></ion-icon></div>
        </div>
        <div class="block">
            <div class="nbr">340</div>
            <div class="tl">Bénéficiaires</div>
            <div class="icon"><ion-icon name="people"></ion-icon></div>
        </div>
        <div class="block">
            <div class="nbr">5</div>
            <div class="tl">Domaines d'impact</div>
            <div class="icon"><ion-icon name="grid"></ion-icon></div>
        </div>
    </div>
    <div class="sec-title">
        <div class="tl">Récits & Témoignages</div>
    </div>
    <div class="projects">
        <div class="project" *ngFor="let project of projects">
            <div class="img" style="background-image: url('{{project.img}}');">
            </div>
            <div class="tl" [routerLink]="'/app/projet-social/'+project.id">{{project.title}}</div>
            <div class="desc"> {{project.description}} </div>
            <button [routerLink]="'/app/projet-social/'+project.id">voire plus</button>
        </div>
    </div>
</div>