<div class="invest-app">

    <div class="cover">

        <div class="title">Investissements</div>
        <div class="desc">
            Investissez dans des projets qui génèrent un
            rendement financier et un impact social mesurable.
        </div>
        <input type="text" placeholder="rechercher">

    </div>

    <div class="projects">
        <div class="project" *ngFor="let project of projects">
            <div class="ctn">
                <div class="image" style="background-image: url('{{project.cover}}');"></div>
                <div class="title" [routerLink]="'/app/project-invest/'+project.id" >{{project.title}}</div>
                <div class="description">{{project.description}}</div>
            </div>
        </div>
    </div>

</div>