<div class="invest-app">

    <div class="cover">

        <div class="title">Investissez dans des projets à fort potentiel</div>
        <div class="desc">
            Découvrez une sélection de projets soigneusement vérifiés et diversifiés. Choisissez ceux qui
            correspondent à vos objectifs financiers et commencez à faire fructifier votre capital en toute
            transparence et sécurité.
        </div>
        <input type="text" placeholder="rechercher">

    </div>

    <div class="projects">
        <div class="project" *ngFor="let project of projects">
            <div class="ctn">
                <div class="image" style="background-image: url('/assets/images/news/news-4.jpg');"></div>
                <div class="title">Self-Guided Driving & Tours Walk Of Greater City</div>
                <div class="description">
                    Amet minim mollit duis sit enim aliqua dolor do amet officia. Pellentesque etiam niss
                    Pellentesque etiam niss Pellentesque etiam niss Pellentesque etiam niss Pellentesque
                    etiam
                    niss
                </div>
            </div>
        </div>
    </div>

</div>