<div class="login-app">
    <div class="form" data-aos="fade-up" data-aos-duration="900">
        <img src="/assets/img/logo.png" alt="logo">
        <div class="title">Réinitialiser Mot De Passe</div>
        <div class="sbtitle">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio architecto
        </div>

        <input type="text" placeholder="Entrer votre adresse email" />

        <button>envoyer</button>

        <div class="psf">
            <span routerLink="/auth/login" >Retour</span>
        </div>


    </div>
    <div class="cover">
        <div class="cvr"></div>
        <img data-aos="fade-down" data-aos-duration="900" src="/assets/images/banner/banner-1.jpg" alt="cover">
    </div>
</div>