<div class="page">
    <div class="cards">
        <div class="card-cs">
            <div class="icon"><ion-icon name="wallet-outline"></ion-icon></div>
            <div class="dt">
                Solde Disponible <br>
                <span>12000 DT</span>
            </div>
        </div>
        <div class="card-cs">
            <div class="icon"><ion-icon name="cash-outline"></ion-icon></div>
            <div class="dt">
                Solde des investissements <br>
                <span>12000 DT</span>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="title">Convertir to invest</div>
        <div class="input">
            <div class="lbl">Montant ( en DT )</div>
            <input type="number" placeholder="Montant">
        </div>
        <div class="desc">
            <ul>
                <li>Le montant converti sera bloqué dans votre portefeuille d'investissement et ne
                    pourra pas être retiré immédiatement.</li>
                <li>La durée minimale d'investissement est de X mois.</li>
                <li>Des frais de gestion de 1% s'appliquer sur vos investissements.</li>
                <li>Vous pouvez suivre vos placements et leurs rendements en tant que profile
                    investisseur.</li>
            </ul>
        </div>
        <button class="sec-btn">convertir</button>
    </div>
</div>