<div class="dashbord-app">
    <div class="sc">
        <div class="hm">
            <div class="solde">
                <div class="ctn">
                    <div class="tl">
                        <span>Solde Disponible</span>
                    </div>
                    1230000 DT
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>
                <div class="icon"><ion-icon name="wallet-outline"></ion-icon></div>
            </div>
            <div class="hr"></div>
            <div class="ft">
                <div class="tl">Accés rapide</div>
                <div class="btn" routerLink="/app/transfert">
                    <div class="icon"><ion-icon name="paper-plane-outline"></ion-icon></div>
                    <span>Transfert de l'argent</span>
                </div>
                <div class="btn" routerLink="/app/withdraw">
                    <div class="icon"><ion-icon name="cash-outline"></ion-icon></div>
                    <span>Retirer de l'argent</span>
                </div>
                <div class="btn" routerLink="/app/payement">
                    <div class="icon"><ion-icon name="reader-outline"></ion-icon></div>
                    <span>Paiement des factures</span>
                </div>
                <div class="btn" routerLink="/app/history">
                    <div class="icon"><ion-icon name="time-outline"></ion-icon></div>
                    <span>Journales</span>
                </div>
            </div>
        </div>
        <div class="ft-sc">
            <div class="desc">
                <div class="title">Impact social</div>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit adipisicing elit.
                </p>
                <button>Découvrire nos projets</button>
            </div>
            <div class="icon">
                <ion-icon name="people-outline"></ion-icon>
            </div>
        </div>
    </div>
    <div class="sc">
        <div class="flexed">
            <div class="s">
                <div class="title">Notifications</div>
                <div class="item-notif">
                    <div class="icon"><ion-icon name="notifications-outline"></ion-icon></div>
                    <p>
                        <span>ImpactBank</span>
                        <br>
                        Merci d'avoir choisire ImpactBank
                        <br>
                        <label>il y'a 2 jours</label>
                    </p>
                </div>
                <div class="item-notif">
                    <div class="icon"><ion-icon name="notifications-outline"></ion-icon></div>
                    <p>
                        <span>Impact Social</span>
                        <br>
                        Affectation des enfants à l'éducation
                        <br>
                        <label>il y'a 2 jours</label>
                    </p>
                </div>
                <div class="item-notif">
                    <div class="icon"><ion-icon name="notifications-outline"></ion-icon></div>
                    <p>
                        <span>Impact Social</span>
                        <br>
                        Affectation des enfants à l'éducation
                        <br>
                        <label>il y'a 2 jours</label>
                    </p>
                </div>
                <div class="item-notif">
                    <div class="icon"><ion-icon name="notifications-outline"></ion-icon></div>
                    <p>
                        <span>Impact Social</span>
                        <br>
                        Affectation des enfants à l'éducation
                        <br>
                        <label>il y'a 2 jours</label>
                    </p>
                </div>
            </div>
        </div>
        <div class="cards">
            <div class="title">
                <div class="icon"><ion-icon name="card-outline"></ion-icon></div>
                <span>Cartes Bancaires</span>
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit adipisicing elit.
            </p>
            <div class="crds">
                <div class="crd">
                    <div class="ctn">
                        <div class="number">1234 5678 9012 3456</div>
                        <div class="holder">Shayma Ghuidhaoui</div>
                    </div>
                    <div class="date">07/28</div>
                    <img src="/assets/img/master.png" alt="">
                </div>
                <div class="crd">
                    <div class="ctn">
                        <div class="number">1234 5678 9012 3456</div>
                        <div class="holder">Shayma Ghuidhaoui</div>
                    </div>
                    <div class="date">07/28</div>
                    <img src="/assets/img/visa.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>