<div class="dashbord-app">
    <div class="overview">
        <div class="solde">
            <div class="tl">
                <div class="icon"><ion-icon name="wallet-outline"></ion-icon></div>
                <span>Solde Disponible</span>
            </div>
            <div class="money">1200 DT</div>
        </div>
        <div class="tbl">Derniéres Transactions</div>
        <div class="list">
            <div class="item">
                <div class="lbl">
                    <div class="icon">
                        <ion-icon name="arrow-up-outline"></ion-icon>
                    </div>
                    <span>Enoyer de l'argent</span>
                </div>
                <div class="money">120 DT</div>
                <div class="date">12/05/2025</div>
            </div>
            <div class="item">
                <div class="lbl">
                    <div class="icon"><ion-icon name="arrow-down-outline"></ion-icon></div>
                    <span>Reçevoire de l'argent</span>
                </div>
                <div class="money">12369 DT</div>
                <div class="date">24/09/2025</div>
            </div>
            <div class="item">
                <div class="lbl">
                    <div class="icon"><ion-icon name="arrow-up-circle-outline"></ion-icon></div>
                    <span>Investir</span>
                </div>
                <div class="money">5000 DT</div>
                <div class="date">01/12/2025</div>
            </div>
            <div class="item">
                <div class="lbl">
                    <div class="icon">
                        <ion-icon name="arrow-up-outline"></ion-icon>
                    </div>
                    <span>Enoyer de l'argent</span>
                </div>
                <div class="money">120 DT</div>
                <div class="date">12/05/2025</div>
            </div>
            <div class="item">
                <div class="lbl">
                    <div class="icon"><ion-icon name="arrow-down-outline"></ion-icon></div>
                    <span>Reçevoire de l'argent</span>
                </div>
                <div class="money">12369 DT</div>
                <div class="date">24/09/2025</div>
            </div>
            <div class="item">
                <div class="lbl">
                    <div class="icon"><ion-icon name="arrow-up-circle-outline"></ion-icon></div>
                    <span>Investir</span>
                </div>
                <div class="money">5000 DT</div>
                <div class="date">01/12/2025</div>
            </div>
        </div>
        <div class="footer">
            <div class="btn" routerLink="/app/transfert">
                <div class="icon"><ion-icon name="paper-plane-outline"></ion-icon></div>
                <div class="title">Envoyer de l'argent</div>
            </div>
            <div class="btn" routerLink="/app/investissements">
                <div class="icon"><ion-icon name="podium-outline"></ion-icon></div>
                <div class="title">Investir dans un projet</div>
            </div>
            <div class="btn">
                <div class="icon"><ion-icon name="time-outline"></ion-icon></div>
                <div class="title">Historique des transactions</div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="sec ntf">
            <div class="title">Notifications récentes</div>
            <div class="item-ntf">
                <div class="ttl">
                    <div class="icon"><ion-icon name="notifications-outline"></ion-icon></div>
                    <div class="tl">Investissement</div>
                </div>
                <p>
                    votre investissement a été confirmé
                </p>
                <div class="time">il y'a 2 minutes</div>
            </div>
            <div class="item-ntf">
                <div class="ttl">
                    <div class="icon"><ion-icon name="notifications-outline"></ion-icon></div>
                    <div class="tl">Recevoire de l'argent</div>
                </div>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime fugit recusandae fuga
                    quas id ab deleniti ipsum praesentium dolor cumque inventore, quam dicta excepturi rem
                    voluptatem alias explicabo aperiam delectus.
                </p>
                <div class="time">il y'a 2 heures</div>
            </div>
        </div>
        <div class="sec">
            <div class="title">Suivi d'impact social</div>
            <div class="ctn">
                <div class="s">
                    <div class="nbr">120</div>
                    <div class="tx">Enfants éduqués</div>
                </div>
                <div class="round">
                    <div class="clr"></div>
                    <div class="cr"></div>
                </div>
            </div>
        </div>
    </div>
</div>