<div class="factures-app">
    <div class="title">Payer Vos Factures</div>
    <div class="desc">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem at accusantium delectus,
        possimus molestiae fuga rem eius iure placeat, explicabo, veritatis error earum ducimus iste
        voluptatibus ipsa assumenda. Ipsa, id.
    </div>
    <div class="blocks">
        <div class="block">
            <img src="/assets/img/steg.png" alt="logo">
        </div>
        <div class="block">
            <img src="/assets/img/sonede.png" alt="logo">
        </div>
        <div class="block">
            <img src="/assets/img/ooreedoo.png" alt="logo">
        </div>
        <div class="block">
            <img src="/assets/img/topnet.png" alt="logo">
        </div>
        <div class="block">
            <img src="/assets/img/orange.png" alt="logo">
        </div>
    </div>
</div>