<!-- page-title -->
<section class="page-title centred">
    <div class="bg-layer" style="background-image: url(assets/images/background/page-title.jpg);"></div> 
    <div class="auto-container">
        <div class="content-box">
            <h1>Our Latest Media Update</h1>
        </div>
    </div>
</section>
<!-- page-title end -->


<!-- news-style-two -->
<section class="news-style-two blog-grid pt_120 pb_120">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                <div class="news-block-two wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box"><a href="blog-details.html"><img src="assets/images/news/news-4.jpg"
                                    alt=""></a></figure>
                        <div class="lower-content">
                            <div class="post-date">
                                <h4>10<span>Jan</span></h4>
                            </div>
                            <h3><a href="blog-details.html">Self-Guided Driving & Tours Walk Of Greater City</a></h3>
                            <p>Amet minim mollit duis sit enim aliqua dolor do amet officia. Pellentesque etiam niss...
                            </p>
                            <ul class="post-info">
                                <li><i class="icon-32"></i><a href="blog-details.html">Admin</a></li>
                                <li><i class="icon-33"></i>0 Comment</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                <div class="news-block-two wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box"><a href="blog-details.html"><img src="assets/images/news/news-5.jpg"
                                    alt=""></a></figure>
                        <div class="lower-content">
                            <div class="post-date">
                                <h4>09<span>Jan</span></h4>
                            </div>
                            <h3><a href="blog-details.html">Assistance Homes Properties Real Estate</a></h3>
                            <p>Amet minim mollit duis sit enim aliqua dolor do amet officia. Pellentesque etiam niss...
                            </p>
                            <ul class="post-info">
                                <li><i class="icon-32"></i><a href="blog-details.html">Admin</a></li>
                                <li><i class="icon-33"></i>3 Comment</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                <div class="news-block-two wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box"><a href="blog-details.html"><img src="assets/images/news/news-6.jpg"
                                    alt=""></a></figure>
                        <div class="lower-content">
                            <div class="post-date">
                                <h4>08<span>Jan</span></h4>
                            </div>
                            <h3><a href="blog-details.html">How to Manage Business’s Online Reputation</a></h3>
                            <p>Amet minim mollit duis sit enim aliqua dolor do amet officia. Pellentesque etiam niss...
                            </p>
                            <ul class="post-info">
                                <li><i class="icon-32"></i><a href="blog-details.html">Admin</a></li>
                                <li><i class="icon-33"></i>4 Comment</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                <div class="news-block-two wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box"><a href="blog-details.html"><img src="assets/images/news/news-7.jpg"
                                    alt=""></a></figure>
                        <div class="lower-content">
                            <div class="post-date">
                                <h4>07<span>Jan</span></h4>
                            </div>
                            <h3><a href="blog-details.html">Self-Guided Driving & Tours Walk Of Greater City</a></h3>
                            <p>Amet minim mollit duis sit enim aliqua dolor do amet officia. Pellentesque etiam niss...
                            </p>
                            <ul class="post-info">
                                <li><i class="icon-32"></i><a href="blog-details.html">Admin</a></li>
                                <li><i class="icon-33"></i>0 Comment</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                <div class="news-block-two wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box"><a href="blog-details.html"><img src="assets/images/news/news-8.jpg"
                                    alt=""></a></figure>
                        <div class="lower-content">
                            <div class="post-date">
                                <h4>06<span>Jan</span></h4>
                            </div>
                            <h3><a href="blog-details.html">Assistance Homes Properties Real Estate</a></h3>
                            <p>Amet minim mollit duis sit enim aliqua dolor do amet officia. Pellentesque etiam niss...
                            </p>
                            <ul class="post-info">
                                <li><i class="icon-32"></i><a href="blog-details.html">Admin</a></li>
                                <li><i class="icon-33"></i>5 Comment</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                <div class="news-block-two wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box"><a href="blog-details.html"><img src="assets/images/news/news-9.jpg"
                                    alt=""></a></figure>
                        <div class="lower-content">
                            <div class="post-date">
                                <h4>05<span>Jan</span></h4>
                            </div>
                            <h3><a href="blog-details.html">How to Manage Business’s Online Reputation</a></h3>
                            <p>Amet minim mollit duis sit enim aliqua dolor do amet officia. Pellentesque etiam niss...
                            </p>
                            <ul class="post-info">
                                <li><i class="icon-32"></i><a href="blog-details.html">Admin</a></li>
                                <li><i class="icon-33"></i>3 Comment</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                <div class="news-block-two wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box"><a href="blog-details.html"><img src="assets/images/news/news-10.jpg"
                                    alt=""></a></figure>
                        <div class="lower-content">
                            <div class="post-date">
                                <h4>04<span>Jan</span></h4>
                            </div>
                            <h3><a href="blog-details.html">Self-Guided Driving & Tours Walk Of Greater City</a></h3>
                            <p>Amet minim mollit duis sit enim aliqua dolor do amet officia. Pellentesque etiam niss...
                            </p>
                            <ul class="post-info">
                                <li><i class="icon-32"></i><a href="blog-details.html">Admin</a></li>
                                <li><i class="icon-33"></i>9 Comment</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                <div class="news-block-two wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box"><a href="blog-details.html"><img src="assets/images/news/news-11.jpg"
                                    alt=""></a></figure>
                        <div class="lower-content">
                            <div class="post-date">
                                <h4>03<span>Jan</span></h4>
                            </div>
                            <h3><a href="blog-details.html">Assistance Homes Properties Real Estate</a></h3>
                            <p>Amet minim mollit duis sit enim aliqua dolor do amet officia. Pellentesque etiam niss...
                            </p>
                            <ul class="post-info">
                                <li><i class="icon-32"></i><a href="blog-details.html">Admin</a></li>
                                <li><i class="icon-33"></i>8 Comment</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                <div class="news-block-two wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box"><a href="blog-details.html"><img src="assets/images/news/news-12.jpg"
                                    alt=""></a></figure>
                        <div class="lower-content">
                            <div class="post-date">
                                <h4>02<span>Jan</span></h4>
                            </div>
                            <h3><a href="blog-details.html">How to Manage Business’s Online Reputation</a></h3>
                            <p>Amet minim mollit duis sit enim aliqua dolor do amet officia. Pellentesque etiam niss...
                            </p>
                            <ul class="post-info">
                                <li><i class="icon-32"></i><a href="blog-details.html">Admin</a></li>
                                <li><i class="icon-33"></i>4 Comment</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                <div class="news-block-two wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box"><a href="blog-details.html"><img src="assets/images/news/news-13.jpg"
                                    alt=""></a></figure>
                        <div class="lower-content">
                            <div class="post-date">
                                <h4>01<span>Jan</span></h4>
                            </div>
                            <h3><a href="blog-details.html">Self-Guided Driving & Tours Walk Of Greater City</a></h3>
                            <p>Amet minim mollit duis sit enim aliqua dolor do amet officia. Pellentesque etiam niss...
                            </p>
                            <ul class="post-info">
                                <li><i class="icon-32"></i><a href="blog-details.html">Admin</a></li>
                                <li><i class="icon-33"></i>2 Comment</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                <div class="news-block-two wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box"><a href="blog-details.html"><img src="assets/images/news/news-14.jpg"
                                    alt=""></a></figure>
                        <div class="lower-content">
                            <div class="post-date">
                                <h4>31<span>Dec</span></h4>
                            </div>
                            <h3><a href="blog-details.html">Assistance Homes Properties Real Estate</a></h3>
                            <p>Amet minim mollit duis sit enim aliqua dolor do amet officia. Pellentesque etiam niss...
                            </p>
                            <ul class="post-info">
                                <li><i class="icon-32"></i><a href="blog-details.html">Admin</a></li>
                                <li><i class="icon-33"></i>5 Comment</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                <div class="news-block-two wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box"><a href="blog-details.html"><img src="assets/images/news/news-15.jpg"
                                    alt=""></a></figure>
                        <div class="lower-content">
                            <div class="post-date">
                                <h4>30<span>Dec</span></h4>
                            </div>
                            <h3><a href="blog-details.html">How to Manage Business’s Online Reputation</a></h3>
                            <p>Amet minim mollit duis sit enim aliqua dolor do amet officia. Pellentesque etiam niss...
                            </p>
                            <ul class="post-info">
                                <li><i class="icon-32"></i><a href="blog-details.html">Admin</a></li>
                                <li><i class="icon-33"></i>1 Comment</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- news-style-two end -->