<!-- page-title -->
<section class="page-title centred">
    <div class="bg-layer" style="background-image: url(assets/images/background/page-title.jpg);"></div>
    <div class="auto-container">
        <div class="content-box">
            <h1>Nos Dernières Actualités</h1>
        </div>
    </div>
</section>
<!-- page-title end -->


<!-- news-section -->
<section class="news-section pt_120 pb_90">
    <div class="pattern-layer">
        <div class="pattern-1" style="background-image: url(/assets/images/shape/shape-6.png);"></div>
        <div class="pattern-2" style="background-image: url(/assets/images/shape/shape-7.png);"></div>
    </div>
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                <div class="news-block-one wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box" style="background-image: url(/assets/images/news/news-1.jpg);">
                        <div class="content-box">
                            <span class="post-date"><i class="icon-27"></i>1 août 2025</span>
                            <h3><a href="blog-details.html">Lancement de notre nouvelle plateforme digitale</a></h3>
                            <div class="btn-box"><a href="blog-details.html" class="theme-btn btn-three">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                <div class="news-block-one wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="inner-box" style="background-image: url(/assets/images/news/news-2.jpg);">
                        <div class="content-box">
                            <span class="post-date"><i class="icon-27"></i>15 août 2025</span>
                            <h3><a href="blog-details.html">Partenariat avec des start-ups innovantes</a></h3>
                            <div class="btn-box"><a href="blog-details.html" class="theme-btn btn-three">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                <div class="news-block-one wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="inner-box" style="background-image: url(/assets/images/news/news-3.jpg);">
                        <div class="content-box">
                            <span class="post-date"><i class="icon-27"></i>20 août 2025</span>
                            <h3><a href="blog-details.html">Publication du rapport annuel d'impact</a></h3>
                            <div class="btn-box"><a href="blog-details.html" class="theme-btn btn-three">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- news-section end -->