<!-- banner-section -->
<section class="banner-section p_relative">
    <div class="banner-carousel owl-theme owl-carousel owl-dots-none">
        <div class="slide-item p_relative">
            <div class="bg-layer" style="background-image: url(/assets/images/banner/banner-1.jpg);"></div>
            <div class="auto-container">
                <div class="content-box">
                    <h2>Ouvrez Votre <span>compte courant</span> en ligne</h2>
                    <div class="btn-box">
                        <a routerLink="/auth/register" class="theme-btn btn-one">Ouvrire un compte</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-item p_relative">
            <div class="bg-layer" style="background-image: url(/assets/images/banner/banner-2.jpg);"></div>
            <div class="auto-container">
                <div class="content-box">
                    <h2>Effectuez vos paiements <span>facilement</span></h2>
                    <div class="btn-box">
                        <a routerLink="/auth/register" class="theme-btn btn-one">Ouvrire un compte</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-item p_relative">
            <div class="bg-layer" style="background-image: url(/assets/images/banner/banner-3.jpg);"></div>
            <div class="auto-container">
                <div class="content-box">
                    <h2>Envoyez et recevez de l'argent rapidement</h2>
                    <div class="btn-box">
                        <a routerLink="/auth/register" class="theme-btn btn-one">Ouvrire un compte</a>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</section>
<!-- banner-section end -->


<!-- feature-section -->
<section class="feature-section">
    <div class="auto-container">
        <div class="inner-container clearfix wow fadeInLeft animated" data-wow-delay="00ms" data-wow-duration="1500ms">
            <div class="feature-block-one">
                <div class="inner-box">
                    <h4><a>Inclusion Financière</a></h4>
                    <p>
                        Autonomiser les communautés grâce à la banque digitale
                        Découvrez comment ImpactBank aide les familles et les petites entreprises dans les zones rurales
                        à accéder à des financements et à des services bancaires adaptés à leurs besoins.
                    </p>
                </div>
            </div>
            <div class="feature-block-one">
                <div class="inner-box">
                    <h4><a>FinTech & Innovation</a></h4>
                    <p>
                        Quand la technologie transforme la banque sociale
                        Un regard sur le rôle de l'intelligence artificielle et de la blockchain pour améliorer la
                        transparence, la rapidité et la confiance dans les transactions financières.
                    </p>
                </div>
            </div>
            <div class="feature-block-one">
                <div class="inner-box">
                    <h4><a>Investissement à Impact Social</a></h4>
                    <p>
                        Investir pour un avenir meilleur
                        Analyses et stratégies pour comprendre comment les investisseurs peuvent contribuer à des
                        projets porteurs d'un véritable impact social et environnemental grâce à ImpactBank.
                    </p>
                </div>
            </div>
            <div class="feature-block-one">
                <div class="inner-box">
                    <h4><a>Success Stories & Perspectives</a></h4>
                    <p>
                        De l'idée à l'impact : les entrepreneurs que nous soutenons
                        Histoires inspirantes d'entrepreneurs sociaux accompagnés par ImpactBank, et comment leurs
                        projets ont grandi tout en servant la communauté.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- feature-section end -->


<!-- about-section -->
<section class="about-section pt_120 pb_120">
    <div class="pattern-layer rotate-me"></div>
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <div class="image_block_one">
                    <div class="image-box pr_90 mr_40">
                        <div class="image-shape" style="background-image: url(/assets/images/shape/shape-3.png);"></div>
                        <figure class="image"><img src="/assets/images/resource/about-1.jpg" alt=""></figure>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div class="content_block_one">
                    <div class="content-box ml_40">
                        <div class="sec-title mb_20">
                            <h6>A propos</h6>
                            <h2>ImpactBank : La finance qui connecte, protège et transforme</h2>
                        </div>
                        <div class="text-box mb_40">
                            <p>
                                Chez ImpactBank, nous croyons que chaque individu mérite un accès simple, transparent et
                                sécurisé aux services financiers. Notre mission est de rendre la finance plus inclusive
                                en connectant les communautés, les entrepreneurs et les investisseurs autour de
                                solutions innovantes.
                            </p>
                        </div>
                        <div class="inner-box mb_45">
                            <div class="single-item">
                                <div class="icon-box">
                                    <i class="fa-solid fa-lightbulb"></i>
                                </div>
                                <h3>Innovation</h3>
                                <p>
                                    Une plateforme digitale intuitive et fiable.
                                </p>
                            </div>
                            <div class="single-item">
                                <div class="icon-box">
                                    <i class="fa-solid fa-earth-africa"></i>
                                </div>
                                <h3>Impact social</h3>
                                <p>
                                    Chaque transaction contribue au développement des régions éloignées.
                                </p>
                            </div>
                            <div class="single-item">
                                <div class="icon-box">
                                    <i class="fa-solid fa-lock"></i>
                                </div>
                                <h3>Sécurité</h3>
                                <p>
                                    Des technologies de pointe pour protéger vos données et vos fonds.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-section end -->


<!-- service-section -->
<section class="service-section pt_120 pb_90">
    <div class="bg-layer" style="background-image: url(/assets/images/background/service-bg.jpg);"></div>
    <div class="auto-container">
        <div class="sec-title centred mb_60">
            <h6>Nos Services</h6>
            <h2>Découvrez nos solutions conçues pour faciliter vos transactions <br> et maximiser votre impact social
            </h2>
        </div>
        <div class="row clearfix">
            <div class="col-lg-3 col-md-6 col-sm-12 service-block">
                <div class="service-block-one wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="shape"></div>
                        <h4>Transfert d'argent</h4>
                        <p>
                            Envoyez et recevez de l'argent rapidement et en toute sécurité.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 service-block">
                <div class="service-block-one wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="shape"></div>
                        <h4>Investissement</h4>
                        <p>
                            Investissez dans des projets innovants et contribuez au développement des communautés.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 service-block">
                <div class="service-block-one wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="shape"></div>
                        <h4>Impact social</h4>
                        <p>
                            Chaque action que vous entreprenez soutient des initiatives locales et éloignées.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 service-block">
                <div class="service-block-one wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="shape"></div>
                        <h4>Paiements digitaux</h4>
                        <p>
                            Effectuez vos paiements facilement via notre plateforme sécurisée.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 service-block">
                <div class="service-block-one wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="shape"></div>
                        <h4>Suivi financier</h4>
                        <p>
                            Gardez le contrôle de vos transactions et analysez vos dépenses en temps réel.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 service-block">
                <div class="service-block-one wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="shape"></div>
                        <h4>Sécurité avancée</h4>
                        <p>
                            Protégez vos fonds et vos données avec des technologies de pointe.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 service-block">
                <div class="service-block-one wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="shape"></div>
                        <h4>Microfinancement</h4>
                        <p>
                            Soutenez les entrepreneurs et projets locaux avec des solutions adaptées.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 service-block">
                <div class="service-block-one wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="shape"></div>
                        <h4>Éducation financière</h4>
                        <p>
                            Accédez à des ressources pour mieux comprendre et gérer vos finances.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service-section end -->


<section class="testimonial-style-two pt_120 pb_120">
    <div class="bg-layer" style="background-image: url(/assets/images/background/testimonial-bg-2.jpg);"></div>
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12 col-sm-12 title-column">
                <div class="sec-title mr_70">
                    <h2>Avis des Clients</h2>
                    <p>Découvrez ce que pensent nos clients et comment nos services les ont aidés.</p>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 content-column">
                <div class="two-item-carousel owl-carousel owl-theme owl-dots-none nav-style-one">
                    <div class="testimonial-block-two" *ngFor="let testim of testimonials">
                        <div class="inner-box">
                            <div class="author-box">
                                <figure class="thumb-box"><img [src]="testim.img" alt="">
                                </figure>
                                <h4>{{testim.name}}</h4>
                            </div>
                            <ul class="rating mb_15 clearfix">
                                <li *ngFor="let star of [].constructor(testim.rate)">
                                    <i class="fa-solid fa-star"></i>
                                </li>
                                <li *ngFor="let star of [].constructor(5 - testim.rate)">
                                    <i class="fa-regular fa-star"></i>
                                </li>
                            </ul>
                            <p>“{{testim.text}}”</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- news-section -->
<section class="news-section pt_120 pb_90">
    <div class="pattern-layer">
        <div class="pattern-1" style="background-image: url(/assets/images/shape/shape-6.png);"></div>
        <div class="pattern-2" style="background-image: url(/assets/images/shape/shape-7.png);"></div>
    </div>
    <div class="auto-container">
        <div class="sec-title centred mb_70">
            <h6>Actualités</h6>
            <h2>Nos Dernières Actualités</h2>
        </div>
        <div class="row clearfix">
            <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                <div class="news-block-one wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box" style="background-image: url(/assets/images/news/news-1.jpg);">
                        <div class="content-box">
                            <span class="post-date"><i class="icon-27"></i>1 août 2025</span>
                            <h3><a href="blog-details.html">Lancement de notre nouvelle plateforme digitale</a></h3>
                            <div class="btn-box"><a href="blog-details.html" class="theme-btn btn-three">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                <div class="news-block-one wow fadeInUp animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="inner-box" style="background-image: url(/assets/images/news/news-2.jpg);">
                        <div class="content-box">
                            <span class="post-date"><i class="icon-27"></i>15 août 2025</span>
                            <h3><a href="blog-details.html">Partenariat avec des start-ups innovantes</a></h3>
                            <div class="btn-box"><a href="blog-details.html" class="theme-btn btn-three">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                <div class="news-block-one wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="inner-box" style="background-image: url(/assets/images/news/news-3.jpg);">
                        <div class="content-box">
                            <span class="post-date"><i class="icon-27"></i>20 août 2025</span>
                            <h3><a href="blog-details.html">Publication du rapport annuel d'impact</a></h3>
                            <div class="btn-box"><a href="blog-details.html" class="theme-btn btn-three">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- news-section end -->