<div class="page">
    <div class="section">
        <div class="title">
            <div class="icon"><ion-icon name="person-circle-outline"></ion-icon></div>
            <span>Informations personnelles</span>
        </div>

        <div class="input">
            <div class="lbl">Nom & Prénom du titulaire</div>
            <input type="text" placeholder="Ex: Mohamed Aziz Louifi">
        </div>

        <div class="input">
            <div class="lbl">Date de naissance</div>
            <input type="date" placeholder="">
        </div>

        <div class="input">
            <div class="lbl">Numéro de téléphone</div>
            <input type="tel" placeholder="+216 22 333 444">
        </div>

        <div class="input">
            <div class="lbl">Adresse complète</div>
            <input type="text" placeholder="Ex: 12 Avenue Habib Bourguiba, Tunis">
        </div>
    </div>

    <div class="section">
        <div class="title">
            <div class="icon"><ion-icon name="reader-outline"></ion-icon></div>
            <span>Informations bancaires</span>
        </div>

        <div class="input">
            <div class="lbl">Nom de la banque</div>
            <input type="text" placeholder="Ex: BIAT">
        </div>

        <div class="input">
            <div class="lbl">Pays de la banque</div>
            <input type="text" placeholder="pays">
        </div>

        <div class="input">
            <div class="lbl">Numéro du compte bancaire (RIB / IBAN)</div>
            <input type="text" placeholder="TN59 1000 6035 1835 9847 8831">
        </div>

        <div class="input">
            <div class="lbl">Code SWIFT/BIC</div>
            <input type="text" placeholder="BICTNTTTXXX">
        </div>

        <div class="input">
            <div class="lbl">Type de compte</div>
            <select>
                <option value="">Sélectionner</option>
                <option value="courant">Compte courant</option>
                <option value="epargne">Compte épargne</option>
                <option value="investissement">Compte investissement</option>
            </select>
        </div>

        <div class="input">
            <div class="lbl">Devise du compte</div>
            <select>
                <option value="">Sélectionner</option>
                <option value="TND">TND (Dinar Tunisien)</option>
                <option value="EUR">EUR (Euro)</option>
                <option value="USD">USD (Dollar Américain)</option>
            </select>
        </div>
    </div>
    <button class="sec-btn">enregister</button>
</div>