<div [class]="openMessages ? 'chat-app active' : 'chat-app'">
    <div [class]="openMessages ? 'container active' : 'container'">
        <div class="istq" *ngIf="!openMessages">
            <div class="main-icon">
                <img src="/assets/img/chat.png" alt="">
            </div>

            <div class="main-title">
                <h1>Bonjour</h1>
                <h2>Comment puis-je vous aider aujourd'hui ?</h2>
            </div>

            <div class="feature-cards">
                <div class="card">
                    <div class="card-icon"><i class="fa-solid fa-gears"></i></div>
                    <br>
                    <h3>Gérer votre compte</h3>
                </div>
                <div class="card">
                    <div class="card-icon"><i class="fa-solid fa-arrow-right-arrow-left"></i></div>
                    <br>
                    <h3>Effectuer des Transferts & Paiements</h3>
                </div>
                <div class="card">
                    <div class="card-icon"><i class="fa-solid fa-hand-holding-dollar"></i></div>
                    <br>
                    <h3>Impact & Investissement</h3>
                </div>
            </div>
        </div>
        <div class="list-msgs" *ngIf="openMessages">
            <div class="ctn">
                <div [class]="msg.sender === 'chat' ? 'msg left':'msg right'" *ngFor="let msg of messages">
                    <span [innerHTML]="msg.msg"></span>
                </div>
                <div class="thinking" *ngIf="isThinking"><i class="fa-solid fa-circle"></i></div>
            </div>
        </div>
        <div class="input-container">
            <input type="text" #msinput placeholder="Poser une question ..." class="chat-input">
            <button class="send-btn" (click)="sendMsg(msinput)">→</button>
        </div>
    </div>
</div>