<!-- page-title -->
<section class="page-title centred">
    <div class="bg-layer" style="background-image: url('/assets/images/background/page-title.jpg');"></div>
    <div class="auto-container">
        <div class="content-box">
            <h1>A propos</h1>
        </div>
    </div>
</section>
<!-- page-title end -->


<!-- about-section -->
<section class="about-section pt_120 pb_120">
    <div class="pattern-layer rotate-me"></div>
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <div class="image_block_one">
                    <div class="image-box pr_90 mr_40">
                        <div class="image-shape" style="background-image: url(/assets/images/shape/shape-3.png);"></div>
                        <figure class="image"><img src="/assets/images/resource/about-1.jpg" alt=""></figure>

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div class="content_block_one">
                    <div class="content-box ml_40">
                        <div class="sec-title mb_20">
                            <h6>About US</h6>
                            <h2>Financial Guidance for Every Stage of Life.</h2>
                        </div>
                        <div class="text-box mb_40">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec felis, suscipit you take
                                action against fraud. See it the Security Center for and Mobile and Online Banking.</p>
                        </div>
                        <div class="inner-box mb_45">
                            <div class="single-item">
                                <div class="icon-box"><i class="icon-10"></i></div>
                                <h3>Solution Focused</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec felis tincidunt
                                    feugiat</p>
                            </div>
                            <div class="single-item">
                                <div class="icon-box"><i class="icon-11"></i></div>
                                <h3>99.99% Success</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec felis tincidunt
                                    feugiat</p>
                            </div>
                        </div>
                        <div class="btn-box">
                            <a href="index.html" class="theme-btn btn-one">Discover More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-section end -->

<!-- feature-style-three -->
<section class="feature-style-three pt_20 pb_90">
    <div class="auto-container">
        <div class="sec-title mb_70 centred">
            <h6>ImpactBank</h6>
            <h2>Pourquoi choisir ImpactBank ?</h2>
        </div>
        <div class="row clearfix">
            <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-one wow fadeInUp animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <h4><a>Inclusion Financière</a></h4>
                        <p>
                            Autonomiser les communautés grâce à la banque digitale
                            Découvrez comment ImpactBank aide les familles et les petites entreprises dans les zones
                            rurales
                            à accéder à des financements et à des services bancaires adaptés à leurs besoins.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-one wow fadeInUp animated" data-wow-delay="200ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <h4><a>FinTech & Innovation</a></h4>
                        <p>
                            Quand la technologie transforme la banque sociale
                            Un regard sur le rôle de l'intelligence artificielle et de la blockchain pour améliorer la
                            transparence, la rapidité et la confiance dans les transactions financières.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-one wow fadeInUp animated" data-wow-delay="400ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <h4><a>Investissement à Impact Social</a></h4>
                        <p>
                            Investir pour un avenir meilleur
                            Analyses et stratégies pour comprendre comment les investisseurs peuvent contribuer à des
                            projets porteurs d'un véritable impact social et environnemental grâce à ImpactBank.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 feature-block">
                <div class="feature-block-one wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <h4><a>Success Stories & Perspectives</a></h4>
                        <p>
                            De l'idée à l'impact : les entrepreneurs que nous soutenons
                            Histoires inspirantes d'entrepreneurs sociaux accompagnés par ImpactBank, et comment leurs
                            projets ont grandi tout en servant la communauté.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- feature-style-three end -->