<div class="client-app">
    <div class="navbar-cs">
        <img src="/assets/img/logo.png" alt="" class="logo">
        <div class="menu">
            <div [class]="router === '' ? 'item active':'item'" (click)="router = ''"  routerLink="/app/">Acceuil</div>
            <div [class]="router === 'transfert' ? 'item active':'item'" (click)="router = 'transfert'" routerLink="/app/transfert">Envoyer / Reçevoir</div>
            <div [class]="router === 'withdraw' ? 'item active':'item'" (click)="router = 'withdraw'" routerLink="/app/withdraw">Retirer d'argent</div>
            <div [class]="router === 'payement' ? 'item active':'item'" (click)="router = 'payement'" routerLink="/app/payement">Paiement factures</div>
            <div [class]="router === 'social' ? 'item active':'item'" (click)="router = 'social'" routerLink="/app/social">Impact Sociale</div>
            <div [class]="router === 'investments' ? 'item active':'item'" (click)="router = 'investments'" routerLink="/app/investments">Projets INVEST</div>
            <div class="user" (click)="openMenuNav = !openMenuNav" >
                <div class="img">
                    <ion-icon name="person-circle-outline"></ion-icon>
                </div>
                <div class="dt">
                    <div class="name">Shayma Ghuidhaoui</div>
                    <div class="solde">Solde : 1294389000 DT</div>
                </div>
                <div class="icon">
                    <ion-icon name="chevron-expand-outline"></ion-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-nav" *ngIf="openMenuNav">
        <div class="user">
            <div class="user-dt">
                <div class="dt">
                    <img src="/assets/img/profile-pic.png" alt="img" />
                    <div class="name">
                        <p>Shayma Ghuidhaoui</p>
                        <span>ID: shayma_ghuidhaoui2134</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" (click)="openMenuNav = false" routerLink="/app/settings/invest">
            <div class="icon"><ion-icon name="arrow-up-circle-outline"></ion-icon></div>
            <span>Investir</span>
        </div>
        <div class="item" (click)="openMenuNav = false" routerLink="/app/settings/profile">
            <div class="icon"><ion-icon name="settings-outline"></ion-icon></div>
            <span>Paramétres</span>
        </div>
        <div class="item" (click)="openMenuNav = false" routerLink="/app/help">
            <div class="icon"><ion-icon name="help-outline"></ion-icon></div>
            <span>Aide et Assistance</span>
        </div>
        <div class="item" (click)="openMenuNav = false" routerLink="/app/chat">
            <div class="icon"><ion-icon name="logo-reddit"></ion-icon></div>
            <span>AI Support</span>
        </div>
        <div class="item" (click)="openMenuNav = false">
            <div class="icon"><ion-icon name="chatbox-ellipses-outline"></ion-icon></div>
            <span>Donner votre avis</span>
        </div>
        <div class="item" (click)="openMenuNav = false">
            <div class="icon"><ion-icon name="log-out-outline"></ion-icon></div>
            <span>Se déconnecter</span>
        </div>
    </div>
    <div class="cvr-menu" *ngIf="openMenuNav" (click)="openMenuNav = false" ></div>
    <div class="content-page">

        <router-outlet></router-outlet>

    </div>
</div>